<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tsrtc Suite" verbose="1">
	<test name="Registration Test">
		<parameter name="ReadExcelPath"
			value="src/test/resources/com/tsrtc/registration/testData/RegistrationTest.xlsx" />
		<parameter name="DataSheetName" value="RegistrationTest" />
		<classes>
			<class name="com.tsrtc.registration.testscripts.RegistrationTest" />
		</classes>
	</test>
</suite>